/* components/ProductDisplay.css */
.ProductDisplay {
  display: flex;
  flex-direction: row; /* Aligns children in a row */
  flex-wrap: wrap; /* Allows items to wrap to the next line if space runs out */
  gap: 20px; /* Space between items */
  justify-content: center; /* Center items in the container */
  padding: 20px;
}

.ProductItem {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  flex: 1; /* Allows items to grow and shrink as needed */
  min-width: 200px; /* Minimum width for each item */
}

.ProductItem img {
  max-height: 200px;
  height: auto;
}

.ProductItem h2,
.ProductItem p {
  margin: 10px 0;
}
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .ProductDisplay {
      padding: 10px;
    }
  }
  